{%extends "main.html"%}

{%block content%}


<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit]:hover {
  background-color: #45a049;
}


</style>
<h1> Dashboard </h1> 

<form method="GET" action= "{% url 'dashboard' %}">
  {% csrf_token %}
  {{ form_graph }}
</form>

<div>
    <form method = "GET" action = "{% url 'dashboard' %}">
       
        {{ form.as_p }}
        
        <input type="Submit" value= "Submit" />
    
    </form>
<br>

{{ chart|safe }}
</div>

{%endblock content%}