{%extends "main.html" %}

{%block content%}

<h1> Notificações </h1>
<div>
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
    <tr>
    <th></th>
    <th>Material</th>
    <th>Local</th>
    <th>Quantidade</th>
    </tr>
    {% for mqs in materialquantitystores %}
      
    <tr>
        <td><a href="/local/{{mqs.local_store.id}}">
        <i class="fa fa-bell w3-text-red w3-large"></i></a></td>
        
        <td>{{mqs.material}}</td><td>{{mqs.local_store}}</td><td>{{mqs.quantity_material}}</td>

      </tr>

      {% endfor %}
</table>
</div>
{%endblock content%}