{%extends "main.html"%}

{%block content%}

<h1> {{local.sector}} {{local}} </h1>

<div>

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
    <tr>
    <th>Material</th>
    <th>Quantidade</th>
    </tr>
    
    {% for materialquantitystore in materialquantitystores %}
      
    <tr>
        
        <td><a href="/material/{{material.id}}">{{materialquantitystore.material}}</td>
        <td>{{materialquantitystore.quantity_material}}</td>

      </tr>

      {% endfor %}
</table>
</div>






{%endblock content%}