{%extends "main.html"%}

{%block content%}

<h1> Local de Armazenamento </h1>
<div>
    <form method = "GET" action = "/material/">
    <input type="text" name="q" placeholder="Busca de Locais..."/>
    </br>
    <a href="{% url 'local' %}"> Mostrar Todos </a>
</div>
<a href="{% url 'create_local' %}"> Cadastrar Local </a>

<div>
    {%for local in locales%}
        <div>
        <a href="/local/{{local.id}}">{{local.id}} -- {{local.sala}} -- {{local.sector}}</a>
        <a href="/atualizar-local/{{local.id}}">Edit</a>
        <a href="/remover-local/{{local.id}}">Delete</a>
        </div>
    {%endfor%}

</div>

{%endblock content%}