{%extends "main.html"%}

{%block content%}

<h5> Movimentações </h5>
<div>
    <form method = "GET" action = "/movimentacao/">
    <input type="text" name="q" placeholder="Busca de Movimentações..."/>
    <a href="{% url 'moviment' %}"> Mostrar Todos </a>
    <br/>
    <br/>
    <a href="{% url 'create_moviment' %}"> Cadastrar Movimentaçao </a>


<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
    {%for moviment in moviments%}
      <tr>
        <td>{{moviment.status}}</td>
        <td><a href="/movimentacao/{{moviment.id}}">{{moviment.material}}</td>
        <td>{{moviment.quantity}} -- {{moviment.material.measureUnit}}</td>
        
        <td><a href="/atualizar-movimentacao/{{moviment.id}}">Edit</a></td>
        <td><a href="/remover-movimentacao/{{moviment.id}}">Delete</a></td>
      </tr>
    
    {%endfor%}
</table>
</div>
{%endblock content%}

 
   