{%extends "main.html"%}

{%block content%}

<h1> Movimentações </h1>
<div>
    <form method = "GET" action = "/movimentacao/">
    <input type="text" name="q" placeholder="Busca de Movimentações..."/>
    </br>
    <a href="{% url 'moviment' %}"> Mostrar Todos </a>
</div>
<a href="{% url 'create_moviment' %}"> Cadastrar Movimentaçao </a>

<div>
    {%for moviment in moviments%}
        <div>
        <a href="/movimentacao/{{moviment.id}}">{{moviment.id}} -- {{moviment.status}} -- {{moviment.user}} -- {{moviment.supplier}} -- {{moviment.material}} -- {{moviment.quantity}} -- {{moviment.material.measureUnit}} </a>
        <a href="/atualizar-movimentacao/{{moviment.id}}">Edit</a>
        <a href="/remover-movimentacao/{{moviment.id}}">Delete</a>
        </div>
    {%endfor%}

</div>

{%endblock content%}