{%extends "main.html"%}

{%block content%}

<h1> Fornecedor </h1>
<div>
    <form method = "GET" action = "/supplier/">
    <input type="text" name="q" placeholder="Busca de Fornecedor..."/>
    </br>
    <a href="{% url 'supplier' %}"> Mostrar Todos </a>
</div>
<a href="{% url 'create_supplier' %}"> Cadastrar Fornecedor  </a>

<div>
    {%for supplier in suppliers%}
        <div>
        <a href="/supplier/{{supplier.id}}">{{supplier.id}}-- {{supplier.name}}</a>
        <a href="/atualizar-supplier/{{supplier.id}}">Edit</a>
        <a href="/remover-supplier/{{supplier.id}}">Delete</a>
        </div>
    {%endfor%}

</div>

{%endblock content%}